html,body {
  height:100%;
  font-family: 'PT Sans Narrow', sans-serif;
  /*color: white;*/
  background-color: #110022;
}


h1 {
  font-size: 70px;
  font-family: 'PT Sans Narrow', sans-serif;
  color:#DDCCEE;
}
h2 {
  font-size: 30px;
}

.lead {
	color:#DDCCEE;
}
.canvas {
  background-color: white;
   width: 700px ;
   height: 700px;
  margin-left: 8% ;
  display: inline-block;
}
.qmark {
  width: 20%;
  display: inline-block;
}
.qmark2 {
  width: 10%;
  display: inline-block;
}
.qmark3 {
  width: 30%;
  display: inline-block;
}
.qmark img {
  width: 100%;
  margin-top: -900px;
  margin-left: 60px;
}
.qmark2 img {
  width: 100%;
  margin-top: -600px;
  margin-left: 30px;
}
.qmark3 img {
  width: 100%;
  margin-top: -700px;
  margin-left: 600px;
}
.ear {
  width: 20%;
  float: left;
  margin-top: 10%;
  display: inline-block;
}
.ear img {
  width: 100%;
}
.gameInfo {
  width: 20%;
  margin-left: 1%;
  height: 70%;
  background-color: white;
}
.handImg {
  float: right;
  height: auto;
  width: 40%;
  margin-top: -20%;
}
.guessImg {
  width: 30%;
  margin-left: 35%;
  margin-top: 2%;
  margin-bottom: 3%;
}
.responsive-img {
  width: 100%;
  height: auto;
}
.word {
  color: #BCBCD6;
  text-align: center;
  margin-top: -2%;
}

.waiting {
  color: #BCBCD6;
}
.resultsTable {
  display: inline-block;
  margin-bottom: 10%;
  margin-left: 5%;
}
.titleTable {
  font-size: 20px;
}
.results {
  color: white;
  width: 20%;
  margin-left: 7%;
}
.carousel-inner {
  width: 60%;
  height: 50%;
  display: inline-block;
  margin-left: 15%;
}
.carousel{
  height: auto;
  width: 60%;
  display: inline-block;
  margin-left: 10%;
}

.carousel-item {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.item {
  width: auto;
  height: 100%;
}
/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#110022;
  color:#eee;
  overflow:hidden;
}
.container-diffBackground {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#8961B1;
  color:#eee;
  overflow:hidden;
}
.waiting {
  text-align: center;
}
.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}


  