html,body {
  height:100%;
  font-family: Arial,sans-serif;
  /*color: white;*/
}


h1 {
  font-size: 70px;
  font-family: Arial,sans-serif;
  color:#DDCCEE;
}
h2 {
  font-size: 30px;
}

.lead {
	color:#DDCCEE;
}
.canvas {
  background-color: white;
  width: 70%;
  height: 70%;
  margin-top: 2%;
  margin-left: 5%;
  display: inline-block;
}
.gameInfo {
  width: 20%;
  display: inline-block;
  margin-left: 1%;
  height: 70%;
  background-color: white;
}
.guessImg {
  width: 30%;
  margin-left: 35%;
  margin-top: 2%;
  margin-bottom: 3%;
}
.responsive-img {
  width: 100%;
  height: auto;
}
.word {
  color: #BCBCD6;
  text-align: center;
  margin-top: -2%;
}

.waiting {
  color: #BCBCD6;
}

/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#110022;
  color:#eee;
  overflow:hidden;
}
.container-diffBackground {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#8961B1;
  color:#eee;
  overflow:hidden;
}
.waiting {
  text-align: center;
}
.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}


  